Source: univention-wakeonlan
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://www.univention.de/

Package: univention-wakeonlan-master
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wakeonlan
Description: WakeOnLan with a hostname
 WakeOnLan with a hostname search in the LDAP
