Source: univention-guacamole-ldap-connection
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9), ucslint, univention-config-dev, dh-python
Standards-Version: 3.9.8
Homepage: http://www.univention.de/

Package: univention-guacamole-schema
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Guacamole schema file
 This package contains the Guacamole schema file.

Package: univention-guacamole-rollout
Architecture: all
Depends: univention-guacamole-schema, ${misc:Depends}
Description: Guacamole installation wrapper
 Guacamole installer and Apache2configuration
