Source: univention-set-samba4-profile-path
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 7), ucslint, univention-config-dev
Standards-Version: 3.7.3
Homepage: http://www.univention.de/

Package: univention-set-samba4-profile-path
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, univention-samba4
Description: Bulk setting of the samba 4 profile path
 Bulk setting of the samba 4 profile path
