Source: univention-ucc-status-integration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2
Build-Depends: debhelper,
 ucslint,
 python-support,
 univention-config-dev

Package: univention-ucc-status-integration
Architecture: all
Depends: python-univention-lib (>>0.0.3-1),
 univention-directory-manager-tools,
 shell-univention-lib,
 ${misc:Depends}
Description: UCC Status integration
 univention-ucc-status-integration provides an UMC Module with
 UCC client status information, as well as a web interface for UCC
 clients to transmit their status information.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
