Source: univention-bind-blacklist
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, 
 univention-config-dev,
 ucslint-univention
Standards-Version: 3.9.6
Homepage: http://www.univention.de/

Package: univention-bind-blacklist
Architecture: all
Depends: ${shlibs:Depends}, 
 ${misc:Depends}, 
 univention-config-registry,
 shell-univention-lib,
 univention-bind
Suggests: univention-shalla-list-downloader
Description: bind9 DNS Blacklist generator
 A tool that generates DNS blacklists based on textfiles
