Source: univention-sanis
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper-compat (= 12),
 ucslint,
 dh-python,
 univention-config-dev
Standards-Version: 3.8.2
Homepage: http://www.univention.de/

Package: univention-sanis
Architecture: all
Depends:
 ucs-school-import,
 univention-config,
 python3-ijson,
 jq,
 ${misc:Depends},
 ${python3:Depends}
Description: Custom helper for UCS@school import from SANIS (moin.schule)
