Source: univention-letsencrypt
Maintainer: Univention GmbH <packages@univention.de>
Section: univention
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint-univention,
 libunivention-config-dev,

Package: univention-letsencrypt
Architecture: all
Depends: python
Recommends: apache2
Description: univention-letsencrypt - automatically request SSL certificates
 This package contains acme_tiny.py for semi-automatic request of SSL
 certificates from Let's Encrypt project.
