Source: univention-dovecot-migration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>=7)
Standards-Version: 3.9.6
Homepage: http://www.univention.de/

Package: univention-dovecot-migration
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, offlineimap
Description: univention-dovecot-migration is a helper script to automate offlineimap.
