Source: univention-nextcloud-groupfolders-sync
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 7),
 dh-python,
 python-all,
 python3-all,
 univention-config-dev,
 ucslint-univention,

Package: univention-nextcloud-groupfolders-sync
Architecture: all
Depends: ${python:Depends},
 ${misc:Depends},
 python-univention-config-registry,
Provides: ${python:Provides}
Description: sync UCS groups to nextcloud groupfolders
 This package contains tools to sync UCS groups
 to nextcloud groupfolders.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
