Source: univention-demo-data
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 8), ucslint, quilt, univention-config-dev
Standards-Version: 3.9.5
Homepage: http://www.univention.de/

Package: univention-demo-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Demo data provied by the "Deutsche Wolke"
 Demo data provided by the "Deutsche Wolke" and images by freedigitalphotos.net
