Source: univention-shalla-list-downloader
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper, ucslint
Standards-Version: 3.9.4
Homepage: http://www.univention.de/

Package: univention-shalla-list-downloader
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ucs-school-webproxy,
 univention-bind-blacklist
Description: Shalla list downloader
 Shalla list downloader. Downloads/updates shallalists and triggers the initialization of squidGuard databases
