[Global]
# These settings can be overwritten by the instance
logfile: autotest.log
proxmox_node: uni-pve-03
proxmox_template_pool: Images
proxmox_pool: PS
proxmox_bridge: PS
proxmox_extra_label: [ENV:JOB_BASE_NAME]
proxmox_vcpus: 2
proxmox_memory: 4096


environment:
 UCS_VERSION=[ENV:UCS_VERSION]
[primary-samba]
proxmox_template: template-ucs-joined-5.2-6-primary
command1:
 LOCAL echo "[primary-samba]" >> "inventory.ini"
 LOCAL echo "primary-samba ansible_host=[primary-samba_IP]" >> "inventory.ini"
 PUT /setup/ssh_ansible_key.pub /root/.ssh/authorized_keys
 chmod 600 /root/.ssh/authorized_keys
 LOCAL echo "IP: [pdn-samba_IP]"
 # do basic setup
 . utils.sh; basic_setup
 ucr set nameserver1=10.208.1.15 nameserver2=10.208.1.16 dns/forwarder1=10.208.1.15 dns/forwarder2=10.208.1.16
 systemctl restart named || true
 . utils.sh; basic_setup_ucs_joined "[primary-samba_IP]"
 . utils.sh; rotate_logfiles
 . utils.sh; add_tech_key_authorized_keys
 . utils.sh; upgrade_to_latest_errata
command2:
 # no join step -- pre-joined template (see _test-environment/README.md)
files:
 _test-environment/utils/utils.sh /root/

[member-nextcloud]
proxmox_template: template-ucs-joined-5.2-6-replica
command1:
 LOCAL echo "[member-nextcloud]" >> "inventory.ini"
 LOCAL echo "member-nextcloud ansible_host=[member-nextcloud_IP]" >> "inventory.ini"
 PUT /setup/ssh_ansible_key.pub /root/.ssh/authorized_keys
 chmod 600 /root/.ssh/authorized_keys
 LOCAL echo "IP: [rdn-nextcloud_IP]"
 # do basic setup
 . utils.sh; basic_setup
 ucr set nameserver1=10.208.1.15 nameserver2=10.208.1.16 dns/forwarder1=10.208.1.15 dns/forwarder2=10.208.1.16
 systemctl restart named || true
 . utils.sh; basic_setup_ucs_joined "[primary-samba_IP]"
 . utils.sh; add_tech_key_authorized_keys
 . utils.sh; upgrade_to_latest_errata
command2:
 # no join step -- pre-joined template (see _test-environment/README.md)
files:
 _test-environment/utils/utils.sh /root/
