Source: dataport-user-group-sync-source
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends-Indep: debhelper (>= 7.0.50~),
 univention-config-dev
Standards-Version: 3.5.5

Package: dataport-user-group-sync-source-demo
Architecture: all
Description: store user and group information to be transferred
 This package contains a listener module that stores user and group information
 to be transferred to another system.
